body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    padding: 28px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    box-shadow: 0 0 10px #27C7FF;
}

p {
    margin: 0 0 20px 0;
    font-size: 17px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input{
    font-size: 17px;
}

input::placeholder{
    font-size: 14px;
}

label {
    font-weight: bold;
    text-align: left;
}

input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    appearance: none;
    outline: none;
}

button[type="submit"] {
    background-color: #27C7FF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 19px;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #1e90ff;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.error-message ul {
    padding-left: 20px;
    text-align: left;
}